/************** reset **************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}
footer {
  margin-top: auto;
}
body {
  background-color: #1e1e1e;
  padding: 0;
  line-height: 1.5rem;
}
ul {
  margin-top: 5rem;
}

/************** tekster **************/

a {
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
  color: #f0f0ee;
}
a:hover {
  color: rgb(138, 205, 134);
}
.overskrift {
  color: #f0f0ee;
  font-family: "Work Sans", sans-serif;
  margin: 80px 50px;
  font-size: 2rem;
}
.smallProduct {
  color: #f0f0ee;
  font-family: "Work Sans", sans-serif;
}
/************** menu **************/

header nav .navbar {
  display: none;
}
header {
  background-color: #1e1e1e;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  height: 40px;
}
main {
  margin-top: 40px;
}
a img {
  width: 35px;
  height: auto;
}
.logo img {
  display: flex;
  padding-bottom: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  position: relative;
}
.menu_ikoner {
  display: flex;
  align-items: center;
  gap: 40px;
}

/************** burger (har taget udgangspunkt i eksempel fra w3schools.com) **************/

/*Design og positionering*/
.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 6;
}

.line1,
.line2,
.line3 {
  width: 40px;
  height: 1px;
  background-color: #f0f0ee;
  margin: 6px 0;
  transition: 0.4s;
}

/*Roter første linje*/
.change .line1 {
  transform: translate(0, 4px) rotate(-25deg);
}

/* Fjern anden linje*/
.change .line2 {
  opacity: 0;
}

/* Roter tredje linje*/
.change .line3 {
  transform: translate(0, -10px) rotate(25deg);
}

/******produktliste****/

.grid_produktliste {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
  margin: 50px 10px;
}
.grid_produktliste article {
  border: 0.5px solid #f0f0ee;
  padding: 10px 10px;
  max-width: 300px;
  height: auto;
  display: grid;
}

@media (min-width: 1000px) {
  .burger {
    display: none;
  }
  header nav .navbar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
  }
  header a {
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
    color: #f0f0ee;
  }

  /************** produktliste **************/

  .grid_produktliste {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .grid_produktliste img {
    max-width: 100%;
  }
  .procent {
    background-color: red;
    width: 40px;
    text-align: center;
    margin-left: 80%;
  }
  .grid_produktliste article {
    display: flex;
    flex-direction: column;
  }
}
